.bookdetailslibrary {
    background-image: url('image3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookdetailslibrary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-details-form {
    width: 400px;
    padding: 20px;
    background-color: rgba(142, 141, 141, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.book-details-form .form-group {
    margin-bottom: 20px;
}

.book-details-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.book-details-form input[type="text"],
.book-details-form select {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.book-details-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.book-details-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}
